body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f5f5f5;
}

/* Header */

header {
  background: DodgerBlue;
  color: white;
  text-align: center;
  padding: 30px;
}

header h1 {
  margin: 0;
}

/* About Section */

.about {
  max-width: 1000px;
  margin: 40px auto;
  padding: 20px;
  background: white;
  border-radius: 8px;
}

.about h2 {
  text-align: center;
}

.about p {
  line-height: 1.6;
  text-align: center;
}

/* Team Section */

.team {
  max-width: 1000px;
  margin: auto;
  padding: 20px;
}

.team h2 {
  text-align: center;
}

.team-container {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}

.member {
  background: white;
  padding: 20px;
  text-align: center;
  border-radius: 8px;
  width: 200px;
}

.member img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

/* Footer */

footer {
  background: #2c3e50;
  color: white;
  text-align: center;
  padding: 15px;
  margin-top: 40px;
}

.btn {
  background-color: #005fcc;
  border: 3px solid #005fcc;
  border-radius: 10px;
  top: 0%;
  box-shadow: 0 0 5px 1px;
  font-weight: bold;
  color: #ffffff;
  font-size: 20px;
  padding: 10px;
  text-align: center;
  justify-content: center;
}